<%- include('partials/header') %>

<div class="starter-template">
  <h1>Projeto CRUD com driver mysql2 e knex</h1>
  <p class="lead">Projeto fullstack pleno semana 5</p>
</div>

<%- include('partials/footer') %>